$zoom: 1;
$icon-player-size: 27px;
$icon-tools-size: 25px;
$table-td-size: 24px;

body {
  background-image: url('../images/fon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

//импортируем иконки игроков
@import "icon-player/*.png";

.icon-player {
  width: $icon-player-size;
  height: $icon-player-size;

}
//$disable-magic-sprite-selectors:true;
@include all-icon-player-sprites;

//http://susydocs.oddbird.net/en/latest/install/
//@import "susy";
//
//body { @include container(80em); }
//nav { @include span(25%); }

//$icon-player: sprite-map("icon-player/*.png", $spacing: 27px); // contains icons/new.png among others.
//background: sprite($icon-player, sprite-map-name($icon-player), sprite-width($icon-player), sprite-height($icon-player)) no-repeat;

.player-tools {
  border: groove;
  vertical-align: middle;
  border-bottom: 2px solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.img-tool-player:active {
  background: #51CBEE;
  box-shadow: 0 0 5px #51CBEE;
  -webkit-box-shadow: 0 0 5px #51CBEE;
  -moz-box-shadow: 0 0 5px #51CBEE;
}

#content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

#header {
  margin: 16px;
}
#step {
  margin-top: 8px;
}

.tictactoe-table {
  margin: auto;
}
.tictactoe-table-td {
  border: solid 2px rgb(67, 113, 170);
  height: $table-td-size * $zoom;
  width: $table-td-size * $zoom;
}

input {
  margin: 8px;
  border-bottom: 2px dashed;
  border-radius:5px;
  text-align: center;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;

  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
}
.tictac_player {
  height: 24px;
}

.player-active, #content > input:focus {
  border:#66AFE9 2px solid;
  box-shadow: 0 0 5px #51CBEE;
  -webkit-box-shadow: 0 0 5px #51CBEE;
  -moz-box-shadow: 0 0 5px #51CBEE;
}

.ui-selecting-strike {
  box-shadow: 0 0 8px #ee342a;
  background-color: #ef0024;
  -webkit-box-shadow: 0 0 20px #EE5155;
  -moz-box-shadow: 0 0 5px #EE5155;

  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
}
