/* line 6, ../sass/custom.scss */
body {
  background-image: url("../images/fon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 72, icon-player/*.png */
.icon-player-sprite, .icon-player-1, .icon-player-2, .icon-player-3, .icon-player-4 {
  background-image: url('../images/icon-player-s515bc399d6.png');
  background-repeat: no-repeat;
}

/* line 15, ../sass/custom.scss */
.icon-player {
  width: 27px;
  height: 27px;
}

/* line 84, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-player-1 {
  background-position: 0 0;
}

/* line 84, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-player-2 {
  background-position: 0 -27px;
}

/* line 84, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-player-3 {
  background-position: 0 -51px;
}

/* line 84, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-player-4 {
  background-position: 0 -78px;
}

/* line 32, ../sass/custom.scss */
.player-tools {
  border: groove;
  vertical-align: middle;
  border-bottom: 2px solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 41, ../sass/custom.scss */
.img-tool-player:active {
  background: #51CBEE;
  box-shadow: 0 0 5px #51CBEE;
  -webkit-box-shadow: 0 0 5px #51CBEE;
  -moz-box-shadow: 0 0 5px #51CBEE;
}

/* line 48, ../sass/custom.scss */
#content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

/* line 55, ../sass/custom.scss */
#header {
  margin: 16px;
}

/* line 58, ../sass/custom.scss */
#step {
  margin-top: 8px;
}

/* line 62, ../sass/custom.scss */
.tictactoe-table {
  margin: auto;
}

/* line 65, ../sass/custom.scss */
.tictactoe-table-td {
  border: solid 2px #4371aa;
  height: 24px;
  width: 24px;
}

/* line 71, ../sass/custom.scss */
input {
  margin: 8px;
  border-bottom: 2px dashed;
  border-radius: 5px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
}

/* line 83, ../sass/custom.scss */
.tictac_player {
  height: 24px;
}

/* line 87, ../sass/custom.scss */
.player-active, #content > input:focus {
  border: #66AFE9 2px solid;
  box-shadow: 0 0 5px #51CBEE;
  -webkit-box-shadow: 0 0 5px #51CBEE;
  -moz-box-shadow: 0 0 5px #51CBEE;
}

/* line 94, ../sass/custom.scss */
.ui-selecting-strike {
  box-shadow: 0 0 8px #ee342a;
  background-color: #ef0024;
  -webkit-box-shadow: 0 0 20px #EE5155;
  -moz-box-shadow: 0 0 5px #EE5155;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
